spring:
  config:
    activate:
      on-profile: local
  datasource:
    url: jdbc:postgresql://localhost:5432/algoritmo
    username: ToninhoEArthur
    password: ASenha
    driver-class-name: org.postgresql.Driver

  jpa:
    hibernate:
      ddl-auto: validate
    show-sql: false
    properties:
      hibernate:
        format_sql: false
        use_sql_comments: false

  flyway:
    enabled: true
    baseline-on-migrate: true
    connect-retries: 3
    connect-retries-interval: 10s

  docker:
    compose:
      enabled: false

logging:
  level:
    org.hibernate.SQL: INFO
    org.hibernate.type: INFO
    org.springframework.jdbc.core.JdbcTemplate: INFO
    org.springframework.transaction: INFO
